.gameCard {
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; /* Efeito de transição no transform */
}

.cardh3 {
    background-color: red;
}