body {
  margin: 0;
  padding: 0;
  background-color: #1b1f27;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  color: #f4f4f4;
}

/* Carousel.css */
#myCarousel {
  margin-top: 10px;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-item {
  text-align: center;
}

.carousel-img {
  height: 450px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.carousel-caption-h5 {
  color: #fff;
}

.carousel-caption-p {
  color: #fff;
}

/*CSS NavBar*/
.nav {
  background-color: #333;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo-link {
  text-decoration: none;
  color: white; /* Cor do texto do logo */
  font-weight: bold;
  font-size: 1.5rem; /* Tamanho da fonte do logo */
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-li {
  margin-right: 20px; /* Espaçamento entre os itens da lista */
}

.nav-li-link {
  text-decoration: none;
  color: white; /* Cor do texto dos links */
  font-weight: bold;
}

/* Adicione um estilo diferente ao link ativo ou ao link hover, se desejar */
.nav-li-link:hover {
  color: #ffd700; /* Cor ao passar o mouse sobre o link */
}

.nav-li-link.active {
  color: #1d0547; /* Cor do link ativo */
}

/* CSS Page Login*/

.login-form {
  max-width: 300px;
  margin: 125px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-span {
  color: rgb(0, 0, 0);
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

.login-input-submit[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
}

.login-input-submit[type="submit"]:hover {
  background-color: #45a049;
}
/* CSS Cadastro*/
.cadastro-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cadastro-div {
  margin: 20px 0;
}

.cadastro-span {
  cursor: pointer;
  margin-right: 20px;
  font-size: 18px;
  color: #fff;
}

.cadastro-span:hover {
  color: #333;
  text-decoration: underline;
}
