/* // Estilos para a seção de jogos / */
.games {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

/* / Estilos para os cards de jogos / */
.gameCard {
  width: 250px;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; /* Efeito de transição no transform */
}

.cardImg {
  max-width: 100%;
  height: auto;
}

.cardH3 {
  margin: 10px 0;
  font-size: 18px;
}

.cardP {
  font-size: 14px;
}

.cardA {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007BFF;
}

/* / Efeito de movimento ao passar o mouse / */
.game-card:hover {
  transform: translate(0, -5px); /* Move 5 pixels para cima ao passar o mouse */
}

/* Carousel.css */

#myCarousel {
  margin-top: 20px;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-item {
  text-align: center;
}

.carousel-img {
  height: 500px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.carousel-caption-h5 {
  color: #fff;
}

.carousel-caption-p {
  color: #fff;
}
