

/* // Estilos para a seção de jogos / */
.games {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* / Estilos para os cards de jogos / */
.game-card {
    width: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; /* Efeito de transição no transform */
}

.game-card img {
    max-width: 100%;
    height: auto;
}

.game-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.game-card p {
    font-size: 14px;
}

.game-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

/* / Efeito de movimento ao passar o mouse / */
.game-card:hover {
    transform: translate(0, -5px); /* Move 5 pixels para cima ao passar o mouse */
}